<div class="container">
  <div style="margin-top: 50px;" class="row">
    <div class="col-sm">
      Shop Name: {{shopInfo?.name}}
    </div>
    <div class="col-sm">
      Shop Link: {{shopId}}
    </div>
    <div class="col-sm">
      <button>Copy</button>
      <button style="margin-left: 10px;">Share</button>
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 50px;" class="row">
    <div class="col-sm">
      Phone Number: {{shopInfo?.phoneNumber}}
    </div>
    <div class="col-sm">
      <a style="color: blue;" href="">View Orders</a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 50px;" class="row">
    <div class="col-sm">
      Picture:
    </div>
    <div class="col-sm">
      Name:
    </div>
    <div class="col-sm">
      Price:
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div style="margin-top: 10px;" class="row align-items-center">
    <div class="col-sm">
      <div class="square">Avatar Goes Here</div>
    </div>
    <div class="col-sm align-items-center">
      Lorem ipsum
    </div>
    <div class="col-sm align-items-center">
      $99.99 
    </div>
    <div class="col-sm align-items-center">
      <button>Edit</button>
      <button style="margin-left: 10px;">Delete</button>
    </div>
  </div>
</div>
