<div style="margin-top: 50px; margin-left: 100px;">
    <div>
      <button class="btn btn-success" (click)="startCartHub()">Start CartHub</button>
      <button class="btn btn-primary" (click)="stopCartHub()">Stop CartHub</button>
    </div>
  
    <br>
    <div>
      <button class="btn btn-success" (click)="startShopHub()">Start ShopHub</button>
      <button class="btn btn-primary" (click)="stopShopHub()">Stop ShopHub</button>
    </div>
  
    <br>
    <div>
      <button class="btn btn-success" (click)="startOrderHub()">Start OrderHub</button>
      <button class="btn btn-primary" (click)="stopOrderHub()">Stop OrderHub</button>
    </div>
  </div>
